html {
    background-color: #EBD5A7;
}

body {
    font-family: 'EB Garamond', sans-serif
}

h1 {
    text-align: center;
}

.food-div {
    text-align: center;
}

.food-pic {
    border-radius: 50px
}